body {
    background-color: #202020;
    color: #ff004c;
}

h1 {
    border-style: dotted;
    padding: 10px;
    border-color: aqua;
}
p {
    border-style: dashed;
    border-width: 1px;
    padding: 24px;
}

a {
    color: red;
}

